html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow: hidden;
}

body {
  background: hsl(0, 0%, 93%);
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
}

/* Dumb overrides for material stuff */

/*
  Need to add padding to the inside of the tabs to match material spec. Problem is that when you use the tab key to
  select them, another div is added as a child of navigation__tab. Using last-of-type to select the last div which is
  always the text of the button.
*/
.navigation__tab > div:last-of-type {
  padding: 0 24px;
}
